<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Registration Form</title>
  </head>
  <body>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <p>{{message}}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <form class="" action="/process" method="post">
      <p>First Name: <input type="text" name="first_name"></p>
      <p>Last Name: <input type="text" name="last_name"></p>
      <p>Password: <input type="password" name="password"></p>
      <p>Confirm Password: <input type="password" name="confirm_password"></p>
      <button type="submit" name="button">Submit</button>
    </form>
  </body>
</html>
